.child_menu>li.active a {
    color: #1ABB9C;
}

.page .pagination > li > a {
    margin-right: 5px;
    border-radius: 2px;
    background: #fff;
    color: #333;
    border-color: #ccc;
    padding: 6px 15px;
}
.page .pagination > li > a:hover,
.page .pagination > li > a:focus {
    color: #fff;
    background: #fb9400;
    border-color: #fb9400;
}
.page .pagination > .active > a,
.page .pagination > .active > a:hover,
.page .pagination > .active > a:focus {
    color: #fff;
    background: #fb9400;
    border-color: #fb9400;
}
.page .pagination > .disabled > a,
.page .pagination > .disabled > a:hover,
.page .pagination > .disabled > a:focus {
    color: #999;
    background: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}
