<div class="" xmlns:th="http://www.thymeleaf.org">
    <link th:href="@{/assets/lib/wangEditor/wangEditor.min.css}" rel="stylesheet">
    <h3>新增资料</h3>
    <div class="col-md-9 col-sm-9 ">
        <input name="title" class="form-control" type="text" style="width: 300px" placeholder="请输入标题">
        <select name="subject" class="form-control" required style="width: 300px">
            <option value="">请选择学科</option>
            <option value="线性代数">线性代数</option>
            <option value="大学英文">大学英文</option>
            <option value="体育">体育</option>
        </select>
        <div id="content">

        </div>
        <button id="submitArticle" type="button" class="btn btn-success" style="width: 300px">提交</button>
    </div>

    <script th:src="@{/assets/lib/wangEditor/wangEditor.min.js}"></script>
    <script th:src="@{/assets/js/article/article-add.js}"></script>
</div>
