<div class="" xmlns:th="http://www.thymeleaf.org">
    <link th:href="@{/assets/lib/wangEditor/wangEditor.min.css}" rel="stylesheet">
    <h3>新增留言</h3>
    <div class="col-md-9 col-sm-9 ">
        <input name="title" class="form-control" type="text" style="width: 300px" placeholder="请输入标题">
        <select name="subject" class="form-control" required style="width: 300px">
            <option value="">请选择主题</option>
            <option value="求助">求助</option>
            <option value="灌水">灌水</option>
            <option value="其他">其他</option>
        </select>
        <div id="content">

        </div>
        <button id="submitArticle" type="button" class="btn btn-success" style="width: 300px">提交</button>
    </div>

    <script th:src="@{/assets/lib/wangEditor/wangEditor.min.js}"></script>
    <script th:src="@{/assets/js/comment/comment-add.js}"></script>
</div>
